<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        
      <img [src]="caminho" class="img" />
        
        <ion-card-header>
          <ion-card-subtitle>{{titulo.tituloinicial}}</ion-card-subtitle>
          <ion-card-title>{{titulo.caixamaior}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
        
</ion-card>
  
</ion-content>
